<% if @recipe.rating >= 4.85 %>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
<% elsif @recipe.rating >= 4.45 %>
 <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star-half-o"></span>
<% elsif @recipe.rating >= 3.85 %>
 <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star-o"></span>
<% elsif @recipe.rating >= 3.45 %>
 <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star-half-o"></span>
  <span class="fa fa-star-o"></span>
<% elsif @recipe.rating >= 2.85 %>
 <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star-o"></span>
  <span class="fa fa-star-o"></span>
<% elsif @recipe.rating >= 2.45 %>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star-half-o"></span>
  <span class="fa fa-star-o"></span>
  <span class="fa fa-star-o"></span>
<% elsif @recipe.rating >= 1.85 %>
  <span class="fa fa-star"></span>
  <span class="fa fa-star"></span>
  <span class="fa fa-star-o"></span>
  <span class="fa fa-star-o"></span>
  <span class="fa fa-star-o"></span>
<% elsif @recipe.rating >= 1.45 %>
  <span class="fa fa-star"></span>
  <span class="fa fa-star-half-o"></span>
  <span class="fa fa-star-o"></span>
  <span class="fa fa-star-o"></span>
  <span class="fa fa-star-o"></span>
<% elsif @recipe.rating >= 0.85 %>
  <span class="fa fa-star"></span>
  <span class="fa fa-star-o"></span>
  <span class="fa fa-star-o"></span>
  <span class="fa fa-star-o"></span>
  <span class="fa fa-star-o"></span>
<% else %>
  <span class="fa fa-star-half-o"></span>
  <span class="fa fa-star-o"></span>
  <span class="fa fa-star-o"></span>
  <span class="fa fa-star-o"></span>
  <span class="fa fa-star-o"></span>
<% end %>

