
<div class="container">
<h1 class="center">Submit a New Recipe</h1>
  <div class="col-sm-10">
    <form action='/recipes' method='post'>
    <%= current_user.id %>

    <fieldset style="display:none">
      <input type="hidden" name="user_id" value="<%=current_user.id%>">
     </fieldset>

    <fieldset class="form-group">
      <label for="specific_recipe">Recipe Title</label>
      <input type="text" class="form-control" id="specific_recipe"  name="recipe[title]"placeholder="burger, sushi...">
     </fieldset>

     <fieldset class="form-group">
      <label for="Cuisine">Cuisine</label>
      <input type="text" class="form-control" id="cuisine"  name="recipe[cuisine]"placeholder="American, French...">
     </fieldset>

    <fieldset class="form-group">
      <label for="ingredients">Ingredients (comma separated list)</label>
      <textarea style="resize:none;" class="form-control" rows="3" id="ingredients" name="ingredients" placeholder="beef, chicken, corn..."></textarea>
    </fieldset>

    <fieldset class="form-group">
      <label for="Cuisine">Course</label>
      <input type="text" class="form-control" id="cuisine"  name="recipe[course]"placeholder="main dish, dessert...">
    </fieldset>

    <fieldset class="form-group">
      <label for="steps">Steps</label>
      <textarea rows="10" cols="50" class="form-control" id="steps"  name="steps" placeholder="Enter each step on a new line"></textarea>
    </fieldset>

    <fieldset class="form-group">
      <label for="cooktime">Cook time in minutes</label>
      <input type="number" class="form-control" id="cooktime"  name="recipe[cooktime]"placeholder="45">
    </fieldset>

     <fieldset class="form-group">
      <label for="image">Image URL</label>
      <input type="text" class="form-control" id="image"  name="recipe[image]"placeholder="https://www.cicis.com/media/1138/pizza_trad_pepperoni.png">
     </fieldset>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
