<div class="container">
	<div class="image col-sm-10">
		<img src="recipe.image">
	</div>

	<div class="tile-title col-sm-10">
		<h1>Title</h1>
	</div>

	<div class="stars col-sm-10 ">
		<span class="fa fa-star"></span>
		<span class="fa fa-star"></span>
		<span class="fa fa-star"></span>
		<span class="fa fa-star-half-o"></span>
		<span class="fa fa-star-o"></span>
	</div>

	<div class="description col-sm-10">
		<p>alkshdkjasd kja dkja dkjahskjd  askjd askjd kajsd kjasd kjas dkjas dash dkjas dkjas kjdha ksjdh akjdkasd kjashdkjasd kjahsdkjhasdk hasdkj ahskd askjdhkjashdkjas kjakjsd </p>
	</div>

	<div class="row">
		<div class="owner col-sm-3">
			<img src="@user.image">
		</div>
		<div class="owner col-sm-9">
			<h4>Recipe Submitted By: </h4>
		</div>
	</div>
</div>
