<div class="user-profile-top">

  <div class="user-image">
    <% if current_user.img_url %>
      <img src="<%= current_user.img_url %>" height="200" width="200"  style="border: black solid 2px;";>
    <% else %>
      <img src="http://sd.keepcalm-o-matic.co.uk/i/keep-calm-my-profile-picture-is-under-construction.png" height="50" width="50">
    <% end %>
  </div>

  <div class="user-information">
    <h3><%= current_user </h3>

  </div>

</div>
