<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/searches/show" method="get">
      Cuisine<br>
      <input type="text" name="cuisine" placeholder="American, French..."><br><br>
      All Ingredients<br>
      <textarea rows="4" cols="50" name="ingredients" placeholder="beef, chicken, corn..."></textarea><br><br>
      Allergies<br>
      <input type="text" name="allergies" placeholder="peanuts, shellfish..."><br><br>
      Which Course?<br>
      <input type="text" name="course" placeholder="main dish, dessert..."><br><br>
      Specific Recipe?<br>
      <input type="text" name="query" placeholder="burger, sushi..."><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
