<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Search Results</h1>
    <% @recipes.each do |recipe| %>
    <li> <a href="/recipes/<%= recipe['id'] %>"><img style="width:25%;" src="<%= recipe["image"] %>" alt="<%= recipe["title"] %>"><%= recipe["title"] %></a> </li>

    <% end %>
  </body>
</html>
