<div class="contain">
  <div class="row">
    <% @recipe.each do |recipe| %>
    <div class="col-sm-3 col-lg-3 col-md-3">
      <div>
        <div class="thumbnail">
          <div class="caption" style="height: 550px";>
          	<div>
          		<img src="<%= recipe.image %>" style="width: 100%; height: auto";>
          	</div>

          	<div>
          		<small class="left">Recipe of the Day</small>
          		<h3 class="left"><%= recipe.title %></h3>
          	</div>
          	<div>
          		<p>ajkdhkja sdklasdfkjhasdjkfh akjsdfkjasdkjhads kjhasdkj kasdhfkjasd kjads kj asdkjfhk</p>
          	</div>

          	<hr>
          	<div>
          		<div class="row">
          			<div class="col-sm-3 col-lg-3 col-md-3">
          				<img src="<%= current_user.img_url %>">
          			</div>
          			<div class="col-sm-9 col-lg-9 col-md-9">
          				<p>Reciped Submitted by: <%= current_user.name %> </p>
          			</div>
          		</div>
          	</div>
          	

          </div>
        </div>

        <br>
      </div>
    </div>
    <% end %>
  </div>
