/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.white{
	color: white;
}

.modal-header{
	background-color: #29598c;
	color: white;
}

.contain{
    padding:30px;
}

.pad10{
    padding:10px;
}

.center{
	text-align: center;
}


.left{
	text-align: left;
}

.right{
	text-align: right;
}

.recipe-nav{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.recipe-nav li {
    float: left;
    padding-left: 80px;
    padding-right: 80px;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: orange;
}

ul li {
    border-right: 1px solid #bbb;
}

ul li:last-child {
    border-right: none;
}



.brand,
.address-bar {
    display: none;

}

.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;
}


.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}
.img-full {
    min-width: 100%;
}


.brand-before,
.brand-name {
    text-transform: capitalize;
}

.brand-before {
    margin: 15px 0;
}


.brand-name {
    margin: 0;
    font-size: 4em;
}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}




.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}




@media screen and (min-width:768px) {
      .navbar-default .navbar-brand{
     	 color: white;
     }


     .navbar-default .navbar-nav>li>a{
     	color: white;
     }

    .navbar-default .navbar-nav>li>a:hover {
	    color: orange;
	}

	.navbar-default .navbar-brand:hover {
	    color: orange;
	}



      .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;

    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;

    }



    .navbar {
        min-height: 0;
        color: white;
    }

    .navbar-default {
        background: #fff;
        background: rgba(0,0,0,0.9);

    }
}


}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}
.ingredient-item{
	position: relative;
}


.button_to {
	background-color: transparent;
	border: none;
	width: 5%;
	color: black;
}

.ingredient-item .ingredient-name {
	display: none;
	position: relative;
  bottom: 20px;
  left: 5%;
  right: 25%;
  color: red;
  padding: .5em;
}

.ingredient-item:hover .ingredient-name{
	padding: 5px;
	size: 80%;
	display: block;
}

.ingredient-item:hover .ingredient-image{

transform: scale(1.5);

}

.ingredient-item .ingredient-delete {
	display: none;
	position: absolute;
  top: 5%;
  left: 5%;
  right: 0%;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
  padding: .5em;
}

.ingredient-item:hover .ingredient-delete{
	display: block;
}
.ingredients-list {
	height: 400px;
	width: auto%;
	overflow: scroll;
}
.ingredient-item {
	display: inline-block;
	float: left;
}

.saved-recipe-list {
	height: 400px;
	width: auto%;
	overflow: scroll;
}
