/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.white{
	color: white;
}

.modal-header{
	background-color: #29598c;
	color: white;
}

.contain{
    padding:30px;
}

.pad10{
    padding:10px;
}

.center{
	text-align: center;
}


.left{
	text-align: left;
}

.right{
	text-align: right;
}

.recipe-nav{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


.recipe-nav li {
    float: left;
    padding-left: 80px;
    padding-right: 80px;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: orange;
}

ul li {
    border-right: 1px solid #bbb;
}

ul li:last-child {
    border-right: none;
}

